* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}

.ageApp {
  background-color: #1f2555;
  text-align: center;
  border-radius: 1rem;
  padding: 4rem;
}
.date {
  padding: 2rem;
}
.input-date {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
}
.checkAge {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid;
  margin-bottom: 1rem;
  cursor: pointer;
}
.checkAge:hover{
    background-color: #b9c1ff;
}
